# Secret
SECRET_KEY=your_secret_key_here

# DB settings
DB_URL=postgresql+psycopg://postgres:postgres@db:5432/test_contacts_db_hw12

# Mail (Mailhog or real SMTP)
MAIL_USERNAME=your@mail.com
MAIL_PASSWORD=yourpassword
MAIL_FROM=your@mail.com
MAIL_PORT=1025
MAIL_SERVER=mailhog

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Cloudinary
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=avatars

# App
FRONTEND_URL=http://localhost:3000